[Unit]
Description=PixelPlein Kiosk Browser
Conflicts=getty@tty1.service
After=systemd-user-sessions.service network.target pixelplein-agent.service
Wants=pixelplein-agent.service

[Service]
User=pixelplein
PAMName=login
TTYPath=/dev/tty1
StandardInput=tty
TTYReset=yes
TTYVHangup=yes
Environment=PIXELPLEIN_KIOSK_BACKEND=wayland
Environment=XDG_SESSION_TYPE=wayland
ExecStart=/opt/pixelplein/tools/pixelplein-kiosk.sh
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
